table {
	background: none repeat scroll 0 0 #fff;
	margin-bottom: 0;
}

table.table-accounts th, table.table-accounts td {
	font-size: 16px !important;
}

table td[class*="col-"], table th[class*="col-"] {
	position: static !important;
}

table.table th, table.table td {
	font-size: 12px;
}

table.table thead th {
	background: none repeat scroll 0 0 #F0F0F0 !important;
	color: #222222;
	font-weight: normal;
	padding: 2px 0 !important;
}

table.table thead th span.myTH {
	display: block;
	padding-right: 22px;
	padding-left: 2px;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

table.table thead th span.DataTables_sort_icon.ui-icon {
	float: right;
	margin: -16px 0 0;
}

table.table tbody td {
	padding: 2px !important;
}

table.table tbody td .btn {
	font-size: 14px;
	line-height: 1.5;
	margin: 2px 0 !important;
	padding: 3px !important;
}

table.table-accounts tbody td .btn {
	font-size: 12px;
}

.dataTables_length {
	display: inline-block;
	margin-right: 35px;
}

.dataTables_filter {
	display: inline-block;
	margin-right: 35px;
}

.dataTables_paginate {
	display: inline-block;
	margin-right: 35px;
}

.dataTables_info {
	display: inline-block;
	margin-right: 35px;
}

.dataTables_length select, .dataTables_filter input {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
	vertical-align: middle;
}

.dataTables_paginate a {
	background: none repeat scroll 0 0 #FFFFFF !important;
	border: 1px solid #CCCCCC !important;
	color: #333333 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal !important;
	line-height: 1.42857;
	margin: 0 !important;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}